{{ partial "core/head.html" . }}

<body>
  {{ partial "blocks/header.html" . }}

  <main class="site-main">
    {{ partial "blocks/hero.html" . }}
    {{ partial "blocks/two-ways.html" . }}
    {{ partial "blocks/showreel.html" . }}
    {{ partial "blocks/sets.html" . }}
    {{ partial "blocks/services.html" . }}
    {{ partial "blocks/founder.html" . }}
    {{ partial "blocks/studios.html" . }}
    {{ partial "blocks/birdcasters.html" . }}
    {{ partial "blocks/trusted.html" . }}
    {{ partial "blocks/process.html" . }}
    {{ partial "blocks/booking.html" . }}
    {{ partial "blocks/faq.html" . }}
    {{ partial "blocks/locations.html" . }}
  </main>

  {{ partial "blocks/footer.html" . }}
  {{ partial "core/scripts.html" . }}
</body>
</html>